@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/*
    Color Palette:
    https://coolors.co/331832-694d75-1b5299-9fc2cc-f1ecce
*/

.host-list{
  text-align: right;
}
.btn {
  background-color: #F1ECCE;
  color: #331832;
  margin-bottom: 2%;
}

.btn:hover {
  background-color: #9FC2CC;
  color: #F1ECCE;

}

.back-btn,
.back-btn:hover {
  color: #F1ECCE;
}

body,
html,
.invalid-feedback {
  height: 100%;
  color: #F1ECCE;
  font-family: 'Tajawal', sans-serif;
}

.invalid-feedback .form-check-label {
  color: #9FC2CC;
}

.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: #9FC2CC;
}

.container {
  margin-top: 10px;
}

body {
  padding: 40px;
  background-color: #1B5299;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 12px 40px 12px 8px;
  background: #eee;
  color: #331832;
  font-size: 18px;
  transition: 0.2s;
  box-shadow: 0px 10px 15px #666;
  /* 
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #dddddd ;
}


